html, body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	background: url(/img/wallpaper.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

header {
	height: 6.6em;
	box-sizing: border-box;
	position: relative;

	h1 {
		transform: translate(40px,25px);
		font-size: 2.6em;
		color: #4f4f4f;
	}
}

user-panel {
	div {
		position: absolute;
		top: 10px;
		right: 10px;

		a {
			color: black;
		}
	}
}

.banner {
	background: #4f4f4f;
	padding: 42px;

	h1 {
		font-size: 2.3em;
		color: white;
		text-align: center;
	}
}

top-nav {
	nav {
		text-align: right;
		position: absolute;
		right: 7em;
		bottom: 0;
	}

	nav-btn {
		a {
			display: inline-block;
			border-top-left-radius: 9px;
			border-top-right-radius: 9px;
			background: #8c8c8c;
			color: white;
			font-size: 1.5em;
			padding: 4px 26px;
			text-decoration: none;

			&.active {
				background: #4f4f4f;
			}
		}
	}
}

side-nav {

	aside {
		position: absolute;
		top: 0;
		left: 0;
		width: 180px;
		box-sizing: border-box;
		height: 100%;
		border-right: 4px solid #4f4f4f;
	}

	nav {

		margin-bottom: 30px;

		h1 {
			background: #4f4f4f;
			color: white;
			width: 84%;
			padding: 5px 0 5px 20px;
			margin: 16px 0 10px;
		}

		li {
			padding-left: 20px;
			margin-bottom: 1px;
		}

		a {
			color: #4f4f4f;
			text-decoration: none;
		}
	}
}

#content {

	position: relative;
	border-bottom: 5px solid #4f4f4f;
	min-height: 400px;

	section {
		transform: translateX(180px);
		display: inline-block;
		max-width: 704px;
		padding: 22px 28px;
	}
}

.image-series {

	margin: 18px 0;
	display: flex;
	justify-content: space-between;

	li {
		display: inline-block;
	}
}

.callouts {

	margin: 38px 0 0;
	display: flex;
	justify-content: space-between;

	article {
		border: 1px solid #010101;
		padding: 7px;
		width: 318px;
	}
}