<section class="banner">
	<h1>Welcome to the WSI markup challenge. Good luck!</h1>
</section>
<div id="content">
	<side-nav></side-nav>
	<section>
		<h1>Lorem ipsum dolor sit amet</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt ante ut orci aliquam euismod. Sed semper ante id metus aliquet volutpat. Cras eget augue aliquet, cursus mauris vitae, mattis ex. In aliquet mi dui, ac rutrum leo maximus at. Nunc viverra interdum magna, non vestibulum lacus sagittis ut. Morbi eget iaculis odio, nec vestibulum mi. Pellentesque mollis scelerisque diam, ut venenatis quam lobortis ac. Maecenas non nisi pharetra, faucibus ipsum a, cursus elit. Etiam id massa sit amet sapien pulvinar laoreet. Sed aliquam orci ex, quis pretium est rutrum a. Nulla aliquam nisi ac viverra rhoncus. Cras gravida, ex id ornare cursus, urna magna hendrerit ligula, sed pellentesque ipsum libero vitae turpis.</p>
		<ul class="image-series">
			<li><img alt="FPO Image 1" src="/img/fpo-img.png"></li>
			<li><img alt="FPO Image 2" src="/img/fpo-img.png"></li>
			<li><img alt="FPO Image 3" src="/img/fpo-img.png"></li>
		</ul>
		<div class="callouts">
			<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt ante ut orci aliquam euismod. Sed semper ante id metus aliquet volutpat. Cras eget augue aliquet, cursus mauris vitae, mattis ex. In aliquet mi dui, ac rutrum leo maximus at. Nunc viverra interdum magna, non vestibulum lacus sagittis ut. Morbi eget iaculis odio, nec vestibulum mi. Pellentesque mollis scelerisque diam, ut venenatis quam lobortis ac.</article>
			<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt ante ut orci aliquam euismod. Sed semper ante id metus aliquet volutpat. Cras eget augue aliquet, cursus mauris vitae, mattis ex. In aliquet mi dui, ac rutrum leo maximus at. Nunc viverra interdum magna, non vestibulum lacus sagittis ut. Morbi eget iaculis odio, nec vestibulum mi. Pellentesque mollis scelerisque diam, ut venenatis quam lobortis ac.</article>
		</div>
	</section>
</div>